*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230515/pngtree-large-colorful-fireworks-with-reflections-of-water-image_2546320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: auto;
    margin-top: 13rem;
    text-align: center;
    font-size: 5rem;
}

.year{
    font-size: 7rem;
    margin-bottom: 4rem;
}